.contactform {
    max-width: 600px;
    margin: 3rem auto;
    padding: 5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contactform h1 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #333;
}

.contactform form {
    display: flex;
    flex-direction: column;
}

.contactform div {
    margin-bottom: 15px;
}

.contactform label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactform .submit-container {
    display: flex;
    justify-content: center;
}

.contactform input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contactform input[type="submit"]:hover {
    background-color: #218838;
}