/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footercontent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footersection {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footersection h2 {
    margin-bottom: 20px;
}

.footersection p, .footer-section ul {
    font-size: 16px;
    line-height: 1.6;
}

.footersection ul {
    list-style: none;
    padding: 0;
}

.footersection ul li {
    margin-bottom: 10px;
}

.footersection ul li a {
    color: #fff;
    text-decoration: none;
}

.footersection ul li a:hover {
    text-decoration: underline;
}

.footerbottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 14px;
}
