.view-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .view-card {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin:7% 25% 5%;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .view-card-title {
    text-align: left;
    margin-bottom: 16px;
    margin-left: 12rem;
  }
  
  .view-card-body {
    display: flex;
    flex-direction: column; /* Ensure fields are listed vertically */
  }
  
  .view-form-field {
    margin-bottom: 16px;
  }
  
  .view-field h4 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .view-field p {
    margin: 0;
    width: 100%; /* Ensure each field takes up the full width of the card */
    margin-left: 5rem;
  }
  
  .view-nested-object {
    margin-left: 16px;
    border-left: 2px solid #ccc;
    padding-left: 16px;
  }
  
  .view-nested-array {
    margin-left: 16px;
    padding-left: 16px;
  }
  
  .view-array-item {
    margin-bottom: 8px;
  }
  