.viewformcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .viewcard {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin:7% 25% 5%;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .viewcardtitle {
    text-align: left;
    margin-bottom: 16px;
    margin-left: 12rem;
  }
  
  .viewcardbody {
    display: flex;
    flex-direction: column; /* Ensure fields are listed vertically */
  }
  
  .viewformfield {
    margin-bottom: 16px;
  }
  
  .viewfield h4 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .viewfield p {
    margin: 0;
    width: 100%; /* Ensure each field takes up the full width of the card */
    margin-left: 5rem;
  }
  
  .viewnestedobject {
    margin-left: 16px;
    border-left: 2px solid #ccc;
    padding-left: 16px;
  }
  
  .viewnestedarray {
    margin-left: 16px;
    padding-left: 16px;
  }
  
  .viewarrayitem {
    margin-bottom: 8px;
  }
  